{% load i18n %}
{% load direction_tags %}
{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% get_direction %}">

<head>
    {% include "includes/analytics.html" %}
    <meta name="google-site-verification" content="EtXV-RjJPvOzjyJL8MPdHiNQDZnoFBt-87HRdYuJJuE" />
    {% include "includes/head.html" %}
    {% include "django_quill/media.html" %}
    {% block extrastyle %}{% endblock extrastyle %}

    <link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/brands.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/solid.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/sharp-thin.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/duotone-thin.css" rel="stylesheet" />
    <link href="/static/fontawesome/css/sharp-duotone-thin.css" rel="stylesheet" />
</head>

<body class="bg-white dark:bg-gray-900">
    {% block messages %} {% endblock messages %}
    {% block navbar %}
        {% include "includes/navigation2.html" %}
    {% endblock navbar %}


    {% block content %}{% endblock content %}

    {% block footer %}
        {% include "includes/footer2.html" %}
    {% endblock footer %}

    {% include "includes/scripts.html" %}
    {% block extra_js %}{% endblock extra_js %}

</body>

</html>
