{% extends "layouts/base-auth.html" %}
{% load static socialaccount %}
{% get_providers as socialaccount_providers %}
{% load static %}
{% load static i18n %}

{% block content %}

    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
        <a href="/" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
            <img src="{% static "common/logo.png" %}" class="mr-4 h-11" alt="FlowBite Logo"> &nbsp;&nbsp;
            <span>کلینیک دکتر ارزاقی</span>
        </a>
        <!-- Card -->
        <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">

              <h2 class="text-2xl font-bold text-gray-900 dark:text-white text-center">
                {% trans "Log-in with Username and Password" %}
              </h2>
                <div class="flex justify-center">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2">
                        {% trans "Log in" %}
                        </button>
                    </form>
            </div>
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white text-center">
                {% trans "One-Click Sign-in" %}
            </h2>

            <div class="flex justify-center">


            <form action="{% provider_login_url 'google' process='login' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2">
                    <i class="fab fa-google h-4 mr-2"></i> &nbsp; <!-- Google logo from Font Awesome -->
                    {% trans "Sign-in with Gmail" %}
                </button>
            </form>

            
        </div>
    </div>

            <hr>

            <div class="flex justify-center">

                <span class="text-sm text-gray-800">
                    برای اطلاع از شرایط محرمانگی اطلاعات به صفحه
                    <u><a href="{% url 'about' %}"
                        class="font-medium text-gray-800 hover:underline">بیانیه حریم خصوصی</a></u>
                    بروید.
                </span>

            </div>
            


{% endblock content %}
