{% extends "layouts/my-base-dashboard.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "dist/jquery.multi-select.css" %}">
{% endblock extrastyle %}

{% block content %}

<div class="grid grid-cols-1 px-4 pt-6 xl:grid-cols-3 xl:gap-4 dark:bg-gray-900">
    <div class="mb-4 col-span-full xl:mb-2">

        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white text-right" dir="rtl" style="font-family: BTitr">خوش آمدید</h1>
    </div>


    <div class="col-span-3">
        <div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
            <div class="flex items-center justify-between mb-8 font-yekan">
                <h3 class="mb-4 text-xl font-semibold dark:text-white text-right" style="font-family: 'Yekan', sans-serif;" dir="rtl">اطلاعات کاربر</h3>

            <p class="mb-4 text-xl font-semibold dark:text-white text-right" dir="rtl">نقش: {{ role }}</p>


            </div>

        </div>
    </div>
</div>

{% endblock content %}


{% block extra_js %}


{% endblock extra_js %}
